.accordion-wrap {
	border-top: 1px solid $white;
	padding-top: 27px;
	&:first-of-type {
		border: none;
		padding: 0
	}
	&.single {
		border-bottom: 1px solid $white;
		border-top: 1px solid $white;
		padding-top: 27px;
	}
	h2 {
		@include breakTo(large){
			font-size: 19px;
			line-height: 23px;
		}
	}
}
.accordion-content {
	.js & {
		height: 0;
		overflow: hidden;
	}
	.js .accordion-open & {
		display: block;
	}
	.kicker {
		margin-bottom: 40px;
	}
}
.btn-accordion {
	color: $white;
	display: block;
	text-decoration: none;
	padding-right: 50px;
	padding-top: 1px;
	position: relative;
	@include breakFirst(large){
		padding-right: 40px;
	}
	&:hover {
		color: $green;
	}
	.icon-accordion {
		height: 37px;
		margin-top: -18px;
		position: absolute;
		right: 0;
		top: 50%;
		width: 37px;
		@include breakFirst(large){
			height: 31px;
			margin-top: -15px;
			width: 31px;
		}
	}
	.js .accordion-open & .vert-line {
		display: none;
	}
}