.become {
	.heading {
		@include breakTo(medium){
			background-size: cover;
			height: 24px;
			margin: -12px 0 0 -93px;
			transform: none;
			width: 185px;
		}
	}
	.hero-faculty {
		background: no-repeat center center;
		background-size: cover;
	}
	.accordion-wrap {
		margin-top: 40px;
	}
}