.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
      outline: none;
  }

  &.dragging {
      cursor: pointer;
      cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
  	clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
	outline: none;
  height: 100%;
  min-height: 1px;
  vertical-align: middle;
  [dir="rtl"] & {
    float: right;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: inline-block;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}
.carousel {
  margin: 0 auto;
  width: 600px;
}
.carousel-wrap {
	color: $white;
	font: 24px/29px $fontFamilyBold;
  padding: 100px 30px 30px;
	width: 100%;
	z-index: 1;
  @include breakFirst(medium){
    left: 50%;
    margin-left: -375px;
    padding: 0 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  @include breakFirst(large){
    margin-left: -485px;
  }
	@include breakFirst(wide){
		margin-left: -585px;
	}
	.infographic {
		margin-bottom: 26px;
	}
}
.arw-carousel, .arw-modal {
	background: none;
	border: none;
	color: $white;
	cursor: pointer;
  display: inline-block;
  padding: 0;
	height: 38px;
	outline: none;
	width: 19px;
  @include breakFirst(medium){
    display: block;
    left: 0;
    height: 94px;
    margin-top: -47px;
    outline: none;
    position: absolute;
    top: 50%;
    width: 47px;
  }
	&.next {
		left: auto;
		right: 0;
	}
	&:hover, &:focus {
		color: $green;
		opacity: 1;
	}
	.icon-svg {
		height: 100%;
		width: 100%;
	}
}
.slide-count-wrap {
	border-top: 5px solid $white;
	font-family: $fontFamily;
	margin: 35px auto 0;
	padding-top: 10px;
	text-align: right;
	width: 600px;
}