.dropdown {
	border: 6px solid $white;
	display: inline-block;
	position: relative;
	width: 100%;
	@include breakFirst(medium){
		width: 400px;
	}
	&.dropdown-toggle {
		margin-bottom: 60px;
	}
	.js &.dropdown-toggle:hover ul {
		display: none;
	}
	&:hover, .js &.dropdown-toggle.open-dropdown {
		ul {
			display: block;
		}
		.icon-arw-wrap {
			background: $black;
			color: $white;
		}
		.icon-arw {
			transform: rotate(-90deg);
		}
	}
	ul {
		border: 6px solid $white;
		display: none;
		left: -6px;
		margin: 0;
		position: absolute;
		width: 100%;
		width: calc(100% + 12px);
		z-index: 2;
	}
	li {
		border-top: 6px solid $white;
		float: none;
		opacity: 1;
		margin: 0;
		&:first-child {
			border: none;
		}
		&.active a:hover {
			background: $white;
			color: $black;
		}
		&.active:before {
			display: none;
		}
	}
	.icon-arw-wrap {
		border-left: 6px solid $white;
		height: 100%;
		right: 0;
		position: absolute;
		top: 0;
		width: 50px;
	}
	.icon-arw {
		height: 11px;
		left: 50%;
		margin: -5px 0 0 -11px;
		position: absolute;
		top: 50%;
		transform-origin: center center;
		width: 22px;
	}
	.dropdown-selected, a {
		background: $black;
		cursor: pointer;
		color: $white;
		display: block;
		font: 25px/30px $fontFamilyExtraBold;
		padding: 10px 15px;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {
			background: $white;
			color: $black;
		}
	}
	.dropdown-selected {
		padding-right: 65px;
	}
}