.explore {
	.heading {
		@include breakTo(medium){
			background-size: cover;
			height: 24px;
			margin: -12px 0 0 -103px;
			transform: none;
			width: 207px;
		}
	}
}
.ig-cities {
	background: transparent no-repeat top left;
	height: 338px;
	width: 600px;
}
.ig-stopwatch {
	background: transparent no-repeat top center;
	height: 225px;
	margin: 0 -40px 0 -70px;
	transform: scale(.7);
	width: 320px;
}
.slide-stopwatch {
	font-size: 0;
	h2, .ig-stopwatch, ul {
		display: inline-block;
		vertical-align: middle;
	}
	h2 {
		font: 27px/32px $fontFamily;
		margin-top: 40px;
		text-transform: uppercase;
		width: 155px;
		strong {
			font-family: $fontFamilyExtraBold;
			font-size: 37px;
			line-height: 1;
		}
	}
	ul {
		font: 17px/1 $fontFamily;
		margin-top: 92px;
		text-transform: uppercase;
		width: 205px;
		li {
			margin-bottom: 15px;
		}
	}
}