.expand {
	.heading {
		@include breakTo(medium){
			background-size: cover;
			height: 22px;
			margin: -11px 0 0 -90px;
			transform: none;
			width: 180px;
		}
	}
	.no-js & .video-cta-wrap {
		background-image: url(../img/bg-academics-video.jpg);
	}
}
.university-partnerships {
	.container {
		height: 100%;
		position: relative;
		z-index: 2;
	}
	.toggle-view-wrap {
		padding: 50px 0;
	}
	.toggle-view {
		font: 30px/38px $fontFamilyBold;
		width: 100%;
		@include breakFirst(medium){
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
.partner-grid {
	text-align: center;
	img {
		display: block;
		margin: 0 auto;
	}
	.logo-row {
		font-size: 0;
		margin-top: 100px;
		&:first-child {
			margin-top: 0;
		}
	}
	.logo-wrap {
		display: inline-block;
		margin-top: 50px;
		vertical-align: middle;
		width: 50%;
		&:nth-child(1),&:nth-child(2), &:nth-child(3){
			@include breakFirst(medium){
				margin-top: 0;
			}
		}
		&:nth-child(4),&:nth-child(5) {
			@include breakFirst(large){
				margin-top: 0;
			}
		}
		@include breakFirst(medium){
			margin-top: 70px;
			width: 33%;
		}
		@include breakFirst(large){
			margin-top: 100px;
			width: 20%;
		}
	}
}