body {
  background: $black;
  color: $white;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  margin: 0;
  padding-top: 50px;
  min-height: 100vh;
  @include breakFirst(large){
    padding: 0 0 0 73px;
  }
}
a {
  color: $linkColor;
  text-decoration: underline;
  &:hover {
    color: $white;
  }
}

strong  { font-family: $fontFamilyBold; }
em      { font-style: italic; }
cite    { font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  color: $headingsColor;
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  margin: 0 0 30px;
  line-height: 1.2;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 30px;
}
h2 {
  font: 25px/30px $fontFamilyExtraBold;
  text-transform: uppercase;
}
h3 {
  font: 20px/22px $fontFamilyBold;
  margin: 0 0 15px;
  text-transform: uppercase;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 14px;
}

p {
  margin: 0 0 20px;
}
ul {
  margin: 0 0 40px;
  li {
    margin-bottom: 10px;
  }
  &.bullet {
    margin-left: 20px;
    list-style: disc;
  }
}
.block-list {
  @extend .cf;
  margin: 0;
  li {
    margin: 0;
    padding-left: 16px;
    position: relative;
    &.col-sm-6 {
      padding-left: 31px;
    }
    &:before {
      background: $white;
      content: '';
      height: 8px;
      left: 15px;
      position: absolute;
      top: 10px;
      width: 8px;
    }
  }
}

img {
  display: block;
  &.img-full {
    height: auto;
    width: 100%;
  }
  &.img-circle {
    border-radius: 50%;
  }
}

.cta {
  color: $white;
  display: block;
  font: 20px/24px $fontFamily;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  &:hover {
    color: $green;
  }
}

.resp-break {
  @include breakFirst(large){
    display: block;
  }
}

.icon-svg {
  display: inline-block;
  svg {
    display: block;
    height: 100%;
    width: 100%;
  }
}

// Hide the text and show an image
%textToImg {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

%centerVert, .center-vert {
  @include breakFirst(medium){
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .no-csstransforms & {
    position: relative;
    top: 0;
    left: 0;
  }
}
%centerVertLarge, .center-vert-large {
  @include breakFirst(large){
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .no-csstransforms & {
    position: relative;
    top: 0;
    left: 0;
  }
}
%centerVertAll, .center-vert-all {
  backface-visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .no-csstransforms & {
    position: relative;
    top: 0;
    left: 0;
  }
}

// Hide only visually, but have it available for screenreaders: h5bp.com
.visuallyhidden, .js .js-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
