.gallery-wrap {
	background: $black;
	color: $white;
	height: 800px;
	.container {
		height: 100%;
		padding-top: 300px;
		position: relative;
		@include breakFirst(medium){
			padding: 0;
		}
	}
	.toggle-view-wrap {
		padding: 50px 0;
	}
}
.gallery-info {
	padding: 20px 0;
}
.gallery {
	background: $white;
	height: 300px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	@include breakFirst(medium){
		height: 100%;
		padding: 20px;
		width: 75%;
		width: calc(75% - 15px);
	}
	.piece {
		background: no-repeat center center;
		background-size: cover;
		cursor: pointer;
		position: absolute;
		.no-touchevents &:hover {
			&:after {
				@include breakFirst(large) {
					opacity: 1
				}
			}
			.copy {
				@include breakFirst(large) {
					opacity: 1;
					transform: translateY(-50%);
					visibility: visible;
				}
			}
		}
		&:after {
			background: rgba(0,0,0,.7);
			content: '';
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			transition: opacity .3s;
			width: 100%;
		}
	}
	.copy {
		left: 0;
		opacity: 0;
		padding: 40px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transform: translateY(calc(-50% + 30px));
		transition: all .3s, transform .3s ease-out;
		visibility: hidden;
		width: 100%;
		z-index: 1;
		p {
			max-width: 500px;
		}
	}
}
.gallery-three {
	.piece {
		&:nth-child(1){
			height: 50%;
			height: calc(50% - 10px);
			left: 0;
			top: 0;
			width: 55%;
			width: calc(55% - 20px);
			@include breakFirst(medium){
				height: calc(50% - 30px);
				left: 20px;
				top: 20px;
				width: calc(55% - 40px);
			}
		}
		&:nth-child(2){
			height: 50%;
			height: calc(50% - 10px);
			left: 0;
			top: 50%;
			top: calc(50% + 10px);
			width: 55%;
			width: calc(55% - 20px);
			@include breakFirst(medium){
				height: calc(50% - 30px);
				left: 20px;
				top: 50%;
				top: calc(50% + 10px);
				width: calc(55% - 40px);
			}
		}
		&:nth-child(3){
			height: 100%;
			top: 0;
			right: 0;
			width: 45%;
			width: calc(45%);
			@include breakFirst(medium){
				height: 100%;
				height: calc(100% - 40px);
				top: 20px;
				right: 20px;
				width: 45%;
				width: calc(45% - 20px);
			}
		}
	}
}
.gallery-modal {
	padding: 60px 0;
	@include breakFirst(medium){
		padding: 100px 0;
	}
	.img-full {
		margin-bottom: 40px;
	}
}