body.open-menu {
	height: 100%;
	overflow: hidden;
	@include breakFirst(large){
		height: auto;
		overflow: scroll;
	}
}
.header {
	backface-visibility: hidden;
	background: #000;
	height: 50px;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	transition: width .25s ease-out;
	width: 100%;
	z-index: $zUI;
	.open-menu & {
		height: 100%;
	}
	@include breakFirst(large){
		background: #262626;
		height: 100%;
		width: 73px;
	}
	&:hover {
		@include breakFirst(large){
			width: 287px;
		}
	}
	.active .icon-svg {
		color: $green;
	}
	&:after {
		@include breakFirst(large){
			background: $black;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 73px;
			z-index: 1;
		}
	}
	li.active-section > a {
		color: $green;
	}
	a {
		display: block;
		font: 14px/19px $fontFamily;
		letter-spacing: 2px;
		text-decoration: none;
		text-transform: uppercase;
		z-index: 2;
		&:hover, &.active-section {
			color: $green;
			opacity: 1;
		}

		&.logo.active-section {
			color: $white;
			&:hover {
				color: $green;
			}
		}
	}
	.main-link, .btn-share {
		color: $white;
		font-family: $fontFamilyBold;
		min-height: 78px;
		padding-left: 97px;
		padding-top: 32px;
		position: relative;
	}
	.btn-share {
		@include breakFirst(large){
			bottom: 0;
			position: absolute;
			width: 100%;
		}
	}
	.icon-svg {
		position: absolute;
		top: 24px;
	}
	.icon-explore {
		height: 33px;
		left: 21px;
		width: 33px;
	}
	.icon-meet {
		height: 31px;
		left: 21px;
		width: 30px;
	}
	.icon-expand {
		height: 31px;
		left: 25px;
		width: 22px;
	}
	.icon-immerse {
		height: 31px;
		left: 25px;
		width: 26px;
	}
	.icon-become {
		height: 29px;
		left: 25px;
		top: 27px;
		width: 24px;
	}
	.icon-share {
		height: 25px;
		left: 22px;
		top: 28px;
		width: 26px;
	}
	.icon-logo {
		height: 39px;
		left: 0;
		margin-top: -20px;
		position: absolute;
		top: 50%;
		width: 124px;
		@include breakFirst(large){
			height: 104px;
			left: 50%;
			margin: -57px 0 0 -115px;
			position: absolute;
			top: 50%;
			width: 228px;
		}
	}
}
.sub-nav {
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0 25px 0 97px;
	transform: translateY(-10px);
	.active & {
		display: block;
	}
	ul, li {
		margin: 0;
	}
	li:last-child {
		margin-bottom: 10px;
	}
	a {
		color: #939598;
		padding: 6px 0 6px 18px;
		position: relative;
		&:before {
			border: 1px solid #939598;
			border-radius: 50%;
			content: '';
			height: 8px;
			left: 0;
			position: absolute;
			top: 10px;
			width: 8px;
		}
		&:hover:before, &.active-section:before {
			border-color: $green;
		}
	}
}
.logo {
	color: $white;
	height: 50px;
	margin-left: 20px;
	position: relative;
	width: 124px;
	z-index: 2;
	@include breakFirst(large){
		background: #1c1c1c;
		height: 170px;
		margin: 0;
		top: auto;
		width: auto;
	}
	#symbols path, #china-institute path {
		opacity: 0;
	}
	#university-of-dayton {
		opacity: 0;
		transition: opacity .25s ease-out;
	}
	.logo-gradient stop {
		stop-color: #fff
	}
	&:hover {
		.logo-gradient stop {
			stop-color: $green;
		}
	}
}
#logo-mobile {
	@include breakFirst(large){
		display: none;
	}
}
#logo {
	display: none;
	@include breakFirst(large){
		display: block;
	}
}
.main-menu {
	@include breakFirst(large){
		width: 287px;
	}
	> ul {
		margin: 0;
	}
	> ul > li {
		border-bottom: 1px solid $black;
		margin: 0;
	}
}
.menu-wrap {
	background: #262626;
	height: 100%;
	height: calc(100vh - 50px);
	position: relative;
	@include breakFirst(large){
		background: none;
		height: auto;
		position: static;
	}
	&:after {
		background: $black;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 73px;
		z-index: 1;
		@include breakFirst(large){
			display: none;
		}
	}
}
.btn-menu {
	background: #262626;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	@include breakFirst(large){
		display: none !important;
	}
	span {
	  background: $white;
	  display: block;
	  height: 2px;
	  left: 17px;
	  position: absolute;
	  transform-origin: center center;
	  top: 6px;
	  width: 16px;
	}
	.line-one {
	  top: 18px;
	}
	.line-two {
	  top: 24px;
	}
	.line-three {
	  top: 30px;
	}
}