.hero {
	background: linear-gradient(#d0f435, #84f44f);
	height: 200px;
	position: relative;
	width: 100%;
	@include breakFirst(medium){
		height: 468px;
	}
	@include breakFirst(large){
		height: 100vh;
	}
	&:before {
		border: 5px solid $white;
		content: '';
		height: calc(100% - 25px);
		left: 50%;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% - 25px);
		z-index: 3;
		@include breakFirst(medium){
			border: 8px solid $white;
			height: calc(100% - 64px);
			width: calc(100% - 64px);
		}
		@include breakFirst(large){
			border: 15px solid $white;
			height: calc(100vh - 73px);
			width: calc(100vw - 146px);
		}
	}
	.bg-dark {
		background: #191842;
		content: '';
		height: 100%;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		visibility: hidden;
		width: 100%;
		z-index: 2;
	}
	&.transparent {
		background: transparent;
		&:before {
			border: 5px solid transparent;
		  border-image: linear-gradient(#d8fc35, #8cfc4f);
		  border-image-slice: 1;
			@include breakFirst(medium){
				border-width: 8px;
			}
			@include breakFirst(large){
				border-width: 15px;
			}
		}
	}
	.heading {
		background: transparent no-repeat top left;
		background-size: cover;
		display: inline-block;
		left: 50%;
		position: absolute;
		top: 50%;
		z-index: 2;
		@include breakFirst(large){
			background-size: auto;
			height: 240px;
			margin: -120px 0 0 -520px;
			transform: scale(.55);
			width: 1040px;
		}
	}
	.copy-wrap {
		left: 0;
		position: absolute;
		text-align: center;
		transform: translateY(-50%);
		top: 50%;
		width: 100%;
		z-index: 3;
	}
	.icon-play {
		color: $white;
		display: block;
		height: 86px;
		margin: 0 auto;
		width: 86px;
		&:hover {
			color: $green;
			opacity: 1;
		}
	}
	.symbol {
		background: no-repeat center center;
		background-size: cover;
		height: 117px;
		margin: 0 auto;
		position: relative;
		width: 240px;
		z-index: 1;
		@include breakFirst(medium){
			height: 270px;
			width: 563px;
		}
		@include breakFirst(large){
			height: 470px;
			width: 962px;
		}
		svg {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	.phonetic {
		bottom: -20px;
		color: $white;
		font: 35px/1 $fontFamilyBold;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		transform: translateY(100%);
		width: 100%;
	}
}
.play-word {
	cursor: pointer;
}
.hero-section {
	margin-bottom: 30px;
	min-height: 155px;
	position: relative;
	@include breakFirst(medium){
		min-height: 420px;
	}
	.content-wrap {
		left: 0;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;

	}
	h2 {
		border: 7px solid $white;
		display: inline-block;
		font-size: 21px;
		margin: 0;
		padding: 14px 39px 9px;
		line-height: 26px;
		@include breakFirst(medium){
		font-size: 30px;
			line-height: 35px;
		}
	}
}