.home {
	background: no-repeat center center;
	background-size: cover;
	.hero {
		background: no-repeat center center;
		background-size: cover;
		height: 320px;
		@include breakFirst(large){
			height: 100vh;
		}
	}
	.heading {
		background: no-repeat left top;
		background-size: cover;
		height: 89px;
		margin: 0 0 20px 0;
		filter: drop-shadow(0 0 3px rgba(0,0,0,0.7));
		left: auto;
		position: relative;
		transform: none;
		top: auto;
		width: 232px;
		@include breakFirst(medium){
			background-size: auto;
			filter: drop-shadow(0 0 7px rgba(0,0,0,0.65));
			height: 400px;
			margin: 0;
			width: 960px;
		}
	}
	.icon-play {
		height: 64px;
		width: 64px;
		@include breakFirst(medium){
			height: 86px;
			width: 86px;
		}
		&:hover {
			color: $green;
			opacity: 1;
		}
	}
	.btn-play {
		height: 100%;
		width: 100%;
		@include breakFirst(large){
			display: none;
		}
	}
}