.immerse {
	.heading {
		@include breakTo(medium){
			background-size: cover;
			height: 24px;
			margin: -12px 0 0 -103px;
			transform: none;
			width: 206px;
		}
	}
	.no-js & .video-cta-wrap {
		background-image: url(../img/615_Harvard_Geneticist_Professor_Reuters.jpg)
	}
	.gallery-wrap {
		height: 510px;
		@include breakFirst(medium){
			height: 1000px;
		}
	}
}
.gallery-food {
	height: 100%;
	width: 100%;
	.piece {
		&:nth-child(1){
			height: 30%;
			height: calc(30% - 10px);
			left: 0;
			top: 0;
			width: 60%;
			width: calc(60% - 20px);
			@include breakFirst(medium){
				height: calc(50% - 20px);
				left: 20px;
				top: 20px;
				width: calc(25% - 20px);
			}
		}
		&:nth-child(2){
			height: 30%;
			height: calc(30% - 10px);
			top: calc(30% + 10px);
			left: 0;
			width: 60%;
			width: calc(60% - 20px);
			@include breakFirst(medium){
				height: calc(50% - 20px);
				left: calc(25% + 20px);
				top: 20px;
				width: calc(40% - 20px);
			}
		}
		&:nth-child(3){
			height: 60%;
			left: 60%;
			top: 0;
			width: 40%;
			@include breakFirst(medium){
				height: 50%;
				height: calc(50% - 40px);
				left: 20px;
				top: 50%;
				top: calc(50% + 20px);
				width: 65%;
				width: calc(65% - 20px);
			}
		}
		&:nth-child(4){
			height: 40%;
			top: 60%;
			top: calc(60% + 20px);
			left: 0;
			width: 100%;
			@include breakFirst(medium){
				height: 50%;
				height: calc(100% - 40px);
				left: 65%;
				left: calc(65% + 20px);
				top: 20px;
				width: 35%;
				width: calc(35% - 40px);
			}
		}
	}
}