.view {
	min-height: 500px;
	position: relative;
	@include breakFirst(medium){
		height: 100vh;
		min-height: 800px;
	}
	&.fluid {
		height: auto;
		min-height: 0
	}
	&.v-padding {
		padding: 25px 0 75px;
	}
	&.v-padding-extra {
		padding: 75px 0;
	}
}
.dark-overlay {	
	&:after {
		background: rgba(0,0,0,.4);
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.content-wrap {
		position: relative;
		z-index: 1;
	}
}