.meet {
	.heading {
		@include breakTo(large){
			height: 32px;
			margin: -16px 0 0 -80px;
			width: 159px;
		}
		@include breakTo(medium){
			height: 22px;
			margin: -11px 0 0 -55px;
			width: 109px;
		}
		.no-js & {
			background-image: url(../img/meet.svg)
		}
	}
	.toggle {
		margin: 25px 0;
		@include breakFirst(medium){
			margin: 25px 0 60px
		}
	}
	.no-js & .video-cta-wrap {
		background-image: url(../img/615_Harvard_Geneticist_Professor_Reuters.jpg)
	}
}
.faculty-content {
	column-count: 2;
	column-gap: 30px;
}