// Utilities
// -------------------------

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

// TRANSITIONS
// --------------------------------------------------
@mixin trans($property){
  transition: $property 0.5s $cbTrans;
}

// Grid System
// -----------

// Centered container element
@mixin container-fixed() {
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  @include clearfix();
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
  @include clearfix();
}

// Generate the extra small columns
@mixin make-xs-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  float: left;
  width: percentage(($columns / $grid-columns));
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

// Generate the small columns
@mixin make-sm-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: $screen-sm) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

// Generate the small column offsets
@mixin make-sm-column-offset($columns) {
  @media (min-width: $screen-sm) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column-push($columns) {
  @media (min-width: $screen-sm) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column-pull($columns) {
  @media (min-width: $screen-sm) {
    right: percentage(($columns / $grid-columns));
  }
}

// Generate the medium columns
@mixin make-md-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: $screen-md) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

// Generate the large column offsets
@mixin make-md-column-offset($columns) {
  @media (min-width: $screen-md) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-push($columns) {
  @media (min-width: $screen-md) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-pull($columns) {
  @media (min-width: $screen-md) {
    right: percentage(($columns / $grid-columns));
  }
}

// Generate the large columns
@mixin make-lg-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: $screen-lg) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

// Generate the large column offsets
@mixin make-lg-column-offset($columns) {
  @media (min-width: $screen-lg) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column-push($columns) {
  @media (min-width: $screen-lg) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column-pull($columns) {
  @media (min-width: $screen-lg) {
    right: percentage(($columns / $grid-columns));
  }
}

// RESPONSIVE BREAKPOINTS
// --------------------------------------------------
@mixin break($media) {
  @if $media == small {
    @media (max-width: 767px) { @content; }
  }
  @else if $media == medium {
    @media (min-width: $screen-tablet) and (max-width: $screen-desktop) { @content; }
    @media (min-width: $screen-tablet) and (max-width: 1024px) and (orientation: landscape) {@content;}
  }
  @else if $media == mediumLand {
    @media (min-width: $screen-tablet) and (max-width: 1024px) and (orientation: landscape) {@content;}
  }
  @else if $media == mediumPort {
    @media (min-width: $screen-tablet) and (max-width: $screen-desktop) { @content; }
  }
  @else if $media == wide {
    @media only screen and (min-width: $screen-lg-desktop) { @content; }
  }
  @else {
    @media (min-width: $media) { @content; }
  }
}

// MOBILE FIRST RESPONSIVE BREAKPOINTS
// --------------------------------------------------
@mixin breakFirst($media) {
  @if $media == medium {
    @media (min-width: $screen-tablet) { @content; }
  }
  @else if $media == large {
    @media (min-width: $screen-desktop) { @content; }
  }
  @else if $media == wide {
    @media (min-width: $screen-lg-desktop) { @content; }
  }
  @else {
    @media (min-width: $media) { @content; }
  }
}

// BREAK UP TO A CERTAIN POINT
// --------------------------------------------------
@mixin breakTo($media) {
  @if $media == medium {
    @media (max-width: ($screen-tablet - 1)) { @content; }
  }
  @else if $media == large {
    @media (max-width: ($screen-desktop - 1)) { @content; }
  }
  @else if $media == wide {
    @media (max-width: ($screen-lg-desktop - 1)) { @content; }
  }
}
