.modal-wrap {
	background: $black;
	height: 100%;
	left: 0;
	overflow: scroll;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $zUI+1;
	.video-js {
		height: 100%;
		width: 100%;
		z-index: 1;
	}
	.icon-close {
		color: $white;
		float: right;
		height: 44px;
		right: 7px;
		padding: 8px;
		position: absolute;
		top: 7px;
		width: 44px;
		z-index: 2;
		@include breakFirst(large){
			height: 31px;
			right: 100px;
			padding: 0;
			top: 35px;
			width: 31px;
		}
		&:hover, &:focus {
			color: $green;
		}
	}
	&.video-wrap { 
		.icon-close {
			transition: visibility 0.1s, opacity 0.1s;
		}
		&.video-inactive .icon-close {
			opacity:0;
			visibility: hidden;
			transition: visibility 1s, opacity 1s;
		}
	}
	.container {
		@include breakFirst(large){
			position: relative;
		}
	}
	.arw-modal {
		left: 15px;
		@include breakTo(large){
			height: 44px;
			top: 7px;
			right: 105px;
			margin: 0;
			left: auto;
			padding: 8px;
			position: absolute;
			stroke-width: 3px;
			width: 44px;
		}
	}
	.arw-modal.next {
		left: auto;
		right: 15px;
		@include breakTo(large){
			right: 56px;
		}
	}
}