.profile-wrap {
	margin-bottom: 50px;
	> .row {
		@include breakFirst(medium){
			display: flex;
		}
	}
	.col-sm-6  {
		@include breakFirst(medium){
			display: flex;
		}
	}
}
.profile {
	border-bottom: 2px solid $white;
	font: 21px/27px $fontFamily;
	padding: 40px 0;
	@include breakFirst(medium){
		font: 27px/33px $fontFamilyBold;
		padding: 50px 0 40px;
	}
	.col-sm-6 {
		@include breakFirst(medium){
			display: flex;
		}
	}
	.title {
		display: block;
		font: 20px/32px $fontFamilyItalic;
		opacity: .5;
		@include breakFirst(medium){
			opacity: 1;
		}
	}
	.img-full {
		@include breakTo(medium){
			float: left;
			height: 80px;
			margin: 0 20px 20px 0;
			width: 80px;
		}
	}
	p {
	  &:last-of-type {
	    margin: 0;
	  }
	}
}
.staff {
	font: 20px/22px $fontFamily;
	margin-bottom: 40px;
	h3 {
		font: 20px/22px $fontFamilyBold;
		margin-bottom: 3px;
		text-transform: none;
	}
}