.quote-wrap {
	background: no-repeat center center;
	background-size: cover;
	.copy-wrap {
		left: 0;
		padding: 0 15px;
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		width: 100%;
		@include breakFirst(large){
			padding: 0;
		}
	}
	.copy {
		font: 30px/1.1 $fontFamilyBold;
		margin: 0 auto;
		@include breakFirst(medium){
			font-size: 40px;
			line-height: 48px;
		}
		@include breakFirst(medium){
			width: 720px;
		}
		@include breakFirst(large){
			width: 770px;
		}
	}
	.title {
		display: block;
		margin-top: 15px;
		font: 20px/1.1 $fontFamilyItalic;
		@include breakFirst(medium){
			font-size: 30px;
		}
	}
}