body.open-share {
	height: 100%;
	overflow: hidden;
}
.share-wrap {
	background: rgba(0,0,0,.8);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $zUI + 1;
	.open-share & {
		display: block;
	}
	.content-wrap {
		height: 100%;
	}
	.social-toggle {
		left: 173px;
		margin: 0;
		position: absolute;
		top: 35px;
		li {
			display: inline-block;
			float: none;
			margin: 0;
			padding: 0 20px;
			vertical-align: middle;
			&.active:before {
				display: none;
			}
			&:first-child {
				border-right: 1px solid $white;
				padding-left: 0;
			}
		}
		a {
			color: $white;
			opacity: .5;
			&.active {
				opacity: 1;
			}
			&:hover {
				color: $green;
				opacity: 1;
			}
		}
	}
	.icon-close {
		color: $white;
		float: right;
		height: 31px;
		right: 100px;
		position: absolute;
		top: 35px;
		width: 31px;
		&:hover, &:focus {
			color: $green;
		}
	}
	.icon-usa {
		height: 21px;
		width: 38px;
	}
	.icon-china {
		height: 31px;
		width: 26px;
	}
	.social-grid {
		height: 598px;
		left: 50%;
		margin-left: -299px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 598px;
		li {
			float: left;
			height: 33.333%;
			margin: 0;
			width: 33.333%;
		}
		a {
			display: block;
			height: 100%;
		}
	}
}
.social-grid {
	@extend .cf;
	color: $white;
	display: block;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	li {
		border-top: 1px solid $white;
		border-left: 1px solid $white;
		.icon-svg {
			opacity: .5;
		}
		&.active .icon-svg {
			opacity: 1;
		}
		&:nth-child(1), &:nth-child(2), &:nth-child(3){
			border-top: none
		}
		&:nth-child(1), &:nth-child(4), &:nth-child(7){
			border-left: none
		}
	}
	a {
		color: $white;
		position: relative;
		&:hover {
			color: $green;
		}
	}
	.icon-svg {
		@extend %centerVert;
		vertical-align: middle;
	}
}