.toggle {
	&:not(.dropdown) {
		@extend .cf;
	}
	li {
		float: left;
		margin: 0 10px;
		opacity: .5;
		position: relative;
		&:first-child {
			margin-left: 0;
		}
		&:hover, &:focus, &.active {
			opacity: 1;
		}
		&.active:before {
			background: $green;
			content: '';
			height: 4px;
			left: 0;
			position: absolute;
			top: -23px;
			width: 100%;
		}
	}
	a {
		color: $white;
		display: block;
		font: 20px/24px $fontFamily;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.toggle-view {
	.js & {
		display: none;
	}
	&.active {
		display: block;
	}
}