body.open-video {
	height: 100%;
	overflow: hidden;
}
.bg-video-wrap {
	background-position: center center;
	background-size: cover;
	height: 100%;
	overflow: hidden;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	video {
		@include breakFirst(medium){
			display: none;
			display: block;
			left: 50%;
			min-height: 100%;
			min-width: 100%;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
.video-cta-wrap {
	background: center center no-repeat;
	background-size: cover;
	.copy-wrap {
		left: 0;
		position: absolute;
		text-align: center;
		transform: translateY(-50%);
		top: 50%;
		width: 100%;
	}
	.icon-play {
		display: inline-block;
		height: 82px;
		margin-right: 20px;
		vertical-align: middle;
		width: 82px;
	}
	a {
		color: $white;
		text-decoration: none;
		&:hover {
			color: $green;
		}
	}
	p {
		display: inline-block;
		font: 25px/30px $fontFamilyExtraBold;
		margin: 0;
		max-width: 350px;
		text-align: left;
		vertical-align: middle;
		text-transform: uppercase;
	}
}
.video-js {
	font-size: 12px;
	font-family: $fontFamily;
	&.vjs-user-inactive {
		&:after {
			opacity:0;
			visibility: hidden;
			transition: visibility 1s, opacity 1s;
		}
	}
	&:after {
		background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.55) 80%);
		bottom: 0;
		content: '';
		height: 100px;
		left: 0;
		right: 0;
		opacity: .5;
		pointer-events: none;
		position: absolute;
		transition: visibility 0.1s, opacity 0.1s;
		width: 100%;
		z-index: 1;
	}
	.vjs-control-bar {
		background: none;
		bottom: 20px;
		left: 5%;
		width: 90%;
		z-index: 2;
	}
	.vjs-progress-control:hover .vjs-progress-holder {
	  font-size: 1.5em;
	}
	.vjs-play-progress:before {
		color: $green;
		font-size: 1.3em;
	}
	.vjs-slider {
		background: #4f4f4f
	}
	.vjs-load-progress {
		background: #bfbfbf
	}
}